@model List<VacaYAY.Models.ReturnRequestViewModel>
@{
    Layout = null;
}
@foreach (var req in Model)
{
    <div class="card">
        <div class="card-header" id="heading @req.RequestNumber">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" value="@req.RequestUID" data-toggle="collapse" data-target="#@req.RequestNumber" aria-expanded="false" aria-controls="@req.RequestNumber">
                    Request number: @req.RequestNumber
                </button>
            </h5>
        </div>

        <div id="@req.RequestNumber" class="collapse " aria-labelledby="heading @req.RequestNumber" data-parent="#accordion">
            <div class="card-body">
     
            </div>
        </div>
    </div>
}
<script src="~/Scripts/AdminView/admin.scripts.js"></script>
<script>
    $(document).ready(function () {
        var requestDetailsUrl = '@Url.Action("GetRequest", "Request")';
        $('.btn').each(function (i, element) {
            element.onclick = ( () => GetRequestDetails(element, requestDetailsUrl))
        });
    });
</script>