
@model List<VacaYAY.Models.ReturnEmployeeViewModel>
@{
    Layout = null;
}
@Html.AntiForgeryToken()
@foreach (var req in Model)
{
    <div class="card border" id="item-@req.EmployeeUID">
        <div class="card-header" id="heading @req.EmployeeUID">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" value="@req.EmployeeUID" data-toggle="collapse" data-target="#@req.EmployeeUID" aria-expanded="false" aria-controls="heading @req.EmployeeUID">
                    @req.EmployeeName @req.EmployeeSurname
                </button>
            </h5>
        </div>

        <div id="@req.EmployeeUID" class="collapse " aria-labelledby="heading @req.EmployeeUID" data-parent="#accordion">
            <div class="card-body" id="card-@req.EmployeeUID">

            </div>
        </div>
    </div>
}
<script src="~/Scripts/AdminView/admin.scripts.js"></script>
<script>
    $(document).ready(function () {
        var requestDetailsUrl = '@Url.Action("GetEmployee", "Employee")';
        $('.btn').each(function (i, element) {
            element.onclick = ( () => GetEmployeeDetails(element, requestDetailsUrl))
        });
    });
</script>