
@model  VacaYAY.Models.ReturnEmployeeViewModel
@{
    Layout = null;
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-sm-6">
        <div class="card-body">Employee name: @Model.EmployeeName</div>
        <div class="card-body">Employee Surname: @Model.EmployeeSurname</div>
        <div class="card-body">ID Card number: @Model.EmployeeCardIDNumber</div>
        <div class="card-body">Employment started: @Model.EmployeeEmploymentDate.ToShortDateString()</div>
        <div class="card-body">Employed as: @SolutionEnums.EnumExtenssion.AccountTypesToString(Model.EmployeeRole)</div>
        <div class="card-body">Backlog days: @Model.EmployeeBacklogDays </div>
    </div>
    <div class="col" id="editEmployeeDiv-@Model.EmployeeUID">

    </div>
    <div class="col mr-2 row d-flex align-content-end flex-column justify-content-between">
        <button type="button" id="editEmployee-@Model.EmployeeUID" value="0" class="btn btn-success  btn-sm">Edit</button>
        <button type="button" id="deleteEmployee-@Model.EmployeeUID" value="0" class="btn btn-danger btn-sm">Delete</button>
    </div>
</div>
<div class="row d-flex">
    <button class="btn btn-sm btn-info float-left" value="@Model.EmployeeUID" id="addContract-@Model.EmployeeUID">Add contract</button>
    <button class="btn btn-sm btn-info float-right" value="@Model.EmployeeUID" id="addAdditionalDays-@Model.EmployeeUID">Add additional days</button>
</div>
<div id="addContainer-@Model.EmployeeUID"></div>
<div class="row">
    <div class="col-6">Employee contracts</div>
    <div class="col-6">Employee requests</div>
</div>
<div class="row">
    <div class="col-sm-6 dynamic-size" id="contracts-@Model.EmployeeUID" style="overflow-y: auto;"></div>
    <div class="col-sm-6 dynamic-size" id="vacations-@Model.EmployeeUID" style="overflow-y: auto;"></div>
</div>

