@model VacaYAY.Models.ProcessRequestViewModel
@{
    Layout = null;
}
@Html.AntiForgeryToken()
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                @Html.LabelFor(m => m.RequestDenialComment, new { @class = "col control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.RequestDenialComment, new { @class = "form-control form-control-sm", id = "denial-" + Model.RequestUID })
                    @Html.ValidationMessageFor(m => m.RequestDenialComment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="modal-footer row justify-content-between mx-0">
            <button type="button" id="yes" onclick="deny()" class="btn btn-success" data-dismiss="modal">Yes</button>
            <button type="button" id="no" class="btn btn-danger " data-dismiss="modal">No</button>
        </div>
    </div>
</div>
<script>
    function deny() {
         $(document).ready(function () {
            var requestUrl = '@Url.Action("PermitOrDenyRequest", "Request")';
            DenyRequest(requestUrl);
        });
    }
</script>