@model List<VacaYAY.Models.ReturnRequestViewModel>
@{
    Layout = null;
}
@Html.Hidden("pageCount", 1)
@Html.Hidden("pageOffset", 0)
@Html.Hidden("requestUrl", Url.Action("GetRequests", "Request"))
@Html.Hidden("currentEmployeeUrl", Url.Action("FindCurrentEmployee", "Employee"))
@Html.Hidden("previousButton", " ")
@Html.Hidden("findByEmploymentDateEmployees", Url.Action("FindByDate", "Employee"))
@Html.Hidden("findByNameEmployees", Url.Action("FindByName", "Employee"))
@Html.Hidden("getEmployeeDetails", Url.Action("GetEmployee", "Employee"))
@Html.Hidden("findByParametersEmployees", Url.Action("Search", "Employee"))
@Html.Hidden("findByParametersContracts", Url.Action("Search", "Contract"))
@Html.Hidden("findByParametersRequests", Url.Action("Search", "Request"))
@Html.AntiForgeryToken()
<div class="container-fluid">
    <div class="row align-items-center m-0">
        <div class="row align-self-auto col-6 p-0">
            <button class="btn btn-primary " id="requestShow">Requests</button>
            <button class="btn btn-primary " id="employeesShow">Employees</button>
            <button class="btn btn-primary " id="contractsShow">Contracts</button>
        </div>
        <div class="row col-4 p-0">
            <div id="requestSearch">
                <input class="col-4" type="text" id="requestSearchField" placeholder="Search" autocomplete="off" />
                <input class="col-4" type="text" id="requestStartSearchField" placeholder="Start date" autocomplete="off" />
                <input class="col-4" type="text" id="requestEndSearchField" placeholder="End date" autocomplete="off" />
            </div>
            <div id="employeeSearch" hidden="hidden">
                <input class="col-5" type="text" id="employeeSearchField" placeholder="Search" autocomplete="off"/>
                <input class="col-5" type="text" id="employeeEmploymentSearchField" placeholder="Employment date" autocomplete="off" />
            </div>
            <div id="contractSearch" hidden="hidden">
                <input class="col-4" type="text" id="contractSearchField" placeholder="Search" autocomplete="off"/>
                <input class="col-4" type="text" id="contractStartSearchField" placeholder="Start date" autocomplete="off" />
                <input class="col-4" type="text" id="contractEndSearchField" placeholder="End date" autocomplete="off" />
            </div>
        </div>
        <div class="row col-2 p-0">
            <button class="btn btn-outline-danger" id="collective">New collective days off</button>
        </div>
    </div>
    <div class="row p-0">
        <div class="col-md-8">
            <div id="accordion" data='1'>
            </div>
            <div id="request"></div>
        </div>
        <div class="col-md-2" id="userNotification"></div>
    </div>
</div>
<div class="modal " id="myModal"></div>
<script>
    $(document).ready(StartUp());
    $(document).ready(InitializeSearchPikaday());


    //ako treba da accordion bude scrollable mada mi se ne svidja izgleda ruznije
    $(document).ready(function () {
        var height = parseInt($('#pageOffset').val()) * 95;
        $('#accordion').attr('style', 'height: ' + height + 'px; overflow-y: auto;');
    });

</script>

